{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title h4 mb-4 text-center">Login</h2>

          {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            Usuário ou senha inválidos.
          </div>
          {% endif %}

          <form method="post">
            {% csrf_token %}

            <div class="mb-3">
              <label for="username" class="form-label">Usuário</label>
              <input type="text" name="username" id="username" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Senha</label>
              <input type="password" name="password" id="password" class="form-control" required>
            </div>
              {% include 'messages.html' %}
            <button type="submit" class="btn btn-primary w-100">
              Entrar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}