{% extends 'base.html' %}

{% block title %}Gerenciar Reservas{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h4 fw-bold mb-0">Lista de Reservas</h1>
        <a href="{% url 'selecionar_livro_reserva' %}" class="btn btn-primary">Nova Reserva</a>
    </div>

    <form method="get" class="row g-2 mb-4">
        <div class="col-md-10">
            <input type="text" name="busca" placeholder="Buscar por cliente ou livro..." value="{{ request.GET.busca }}"
                class="form-control" />
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary w-100">Buscar</button>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle">
            <thead class="table-light">
                <tr>
                    <th>Cliente</th>
                    <th>Livro</th>
                    <th>Data da Reserva</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                <tr>
                    <td>{{ reserva.cliente.nome }}</td>
                    <td>{{ reserva.livro.nome }}</td>
                    <td>{{ reserva.data_solicitacao | date:"d/m/Y" }}</td>
                    <td>{{ reserva.get_status_display }}</td>
                    <td>
                        <a href="{% url 'deletar_reserva' reserva.id %}" class="btn btn-warning btn-sm">Cancelar</a>
                        {% if reserva.is_primeira and reserva.livro.exemplares_disponiveis > 0 %}
                        <a href="{% url 'realizar_emprestimo' reserva.livro.id reserva.cliente.id %}"
                            class="btn btn-sm btn-primary">
                            Realizar Empréstimo
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center py-4">Nenhuma reserva cadastrada.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}