{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<section class="py-5 text-white" style="background: linear-gradient(to right, #1e40af, #2563eb, #60a5fa);">
    <div class="text-center">
        <h2 class="display-4 fw-bold mb-4 text-shadow">Bem-vindo à Livraria FACCAT</h2>
        <p class="lead mb-4 mx-auto" style="max-width: 600px;">
            Aqui você encontra os melhores livros para alimentar sua mente e sua imaginação.
        </p>

        <div class="d-flex justify-content-center p-3"></div>
        <a href="{% url 'login' %}" class="btn btn-success">Acessar sistema</a>
    </div>
    </div>
</section>
{% endblock %}