{% if messages %}
 <div class="my-3">
    <div class="row">
        <div class="col-12 mx-auto">
            {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {%endif%}
            {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {%endif%}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
